@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');



html{
    background-color: #fff;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #666f78;
}
#topZone {
    padding-top: 0px;
    background-color: #fff;
}
.topbar-x1{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    list-style: none;
}
nav, section{
    display: block;
}
.imgcenter{
    display: block;
    margin-left: 41.5%;
    margin-right: auto;
}
.block-t1{
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
.col-lg{
    -webkit-box-flex: 0;
    width: auto;
    max-width: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-nav {
    display: flex;
    padding-left: 0;
    list-style: none;
}
.mem-nav a {
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    color: #999999;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;

}
.mem-nav #sprMem::before {
    padding: 0.4rem;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    color: #999999;
    content: '|';
}
.nav-link{
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.img-logo{
    height: 131px;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}
img{
    border-style: none;
}
#top-sticky>div{
    position: relative;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}
#menutop {
    display: flex;
    justify-content: center;
}
#topmenuonpage {
    background-color: #ffb3a6;
    color: #fff;
}
ul.nav-topmenu{
    min-width: 14rem;
}
.nav-topmenu{
    display: flex;
    padding-left: 0;
    list-style: none;
}
ul.nav-topmenu>li.nav-botton01>a.nav-link{
    padding: 9px 15px;
    font-size: 16px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    border-radius: 10px 0 0 10px;
}

ul.nav-topmenu>li.nav-item>a.nav-link{
    background-color: #fff;
    color: #989292;
    padding: 9px 15px;
    font-size: 16px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px;
}

ul.nav-topmenu>li.nav-item>a.nav-link:hover{
    background-color: #ffb3a6;
    color: white;
}

.svg-inline--fa.fa-fw{
    width: 1.25em;
}
.fa-fw{
    text-align: center;
}
.fa-xs{
    font-size: 0.75em;
}
.svg-inline--fa{
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
}
.topmenuonpage.nav-mini.dropdown-menu{
    padding: 0;
    margin: 0;
}
.nav-mini.dropdown-menu{
    float: none;
}

.dropdown{
    position: relative
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #fff;
    /* min-width: 160px; */
    z-index: 1;
    list-style: none;
    clear: both;
    width: 100%;
} 
.dropdown-menu a{
    font-size: 14px;
    color: #989292;
    padding: 12px 16px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {background-color: #ffb3a6;}
.dropdown:hover .dropdown-menu{display: block;}
.dropdown:hover .nav-link.abl1 {background-color: #ffb3a6;}

ul{
    margin-bottom: 0;
}
.nav-link.dropdown-item.abl2{
    font-size: 14px;
    color: #989292;
    padding: 12px 16px;
    list-style: none;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    
    text-decoration: none;
    display: block;

}

.card-body{
    background: #fff;
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 0.25rem;
    width: 543.39px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}
.card-bodyRg{
    background: #fff;
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 0.25rem;
    width: 543.39px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}


input[type=text], input[type=password], input[type="Username"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
}
.card-title.text-center{
    font-family: 'Mitr', sans-serif;
    color: #0e1118;
    
}
.text-center{
    text-align: center;
    font-family: 'Mitr', sans-serif;
}
label{
    font-family: 'Mitr', sans-serif;
}
input{
    font-family: 'Mitr', sans-serif;
}
.btn-sub{
    font-family: 'Mitr', sans-serif;
    color: #fff;
    background-color: #0e1118;
    border-color: #0e1118;
    border-width: 0;
    border-radius: 20px;
    background-image: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    font-weight: 400;
    width: 300px;
    margin-top: 2%;
    margin-left: 22%;
}

.btn-sub:hover {
    background-color: #fd7e14;
}

.textLiner{
    position: relative;
    line-height: 1px;
    margin: 30px 0;
    text-align: center;
    height: 1px;
    background-color: rgba(0,0,0,.125)
}

.textonLiner{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}

.btn-facebook{
    font-family: 'Mitr', sans-serif;
    color: #fff;
    background-color: #4468AF;
    border-width: 0;
    border-radius: 20px;
    background-image: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    font-weight: 400;
    width: 300px;
    margin-left: 22%;
    margin-bottom: 20px;
}

.btn-facebook:hover {
    background-color: #3B5998;
}

.btn-google{
    font-family: 'Mitr', sans-serif;
    color: #fff;
    background-color: #E94335;
    border-width: 0;
    border-radius: 20px;
    background-image: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    font-weight: 400;
    width: 300px;
    margin-left: 22%;
    margin-bottom: 20px;
}

.btn-google:hover {
    background-color: #cf3b2e;
}
.text-center.divloginlink a{
    color: #0e1118;
}
p{
    color: #666f78;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    display: flex;
}

.category{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 5rem 20rem;
}
.item a{
    color: #0e1118;
    font-weight: bold;
    text-decoration: none;
}
.item{
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 1.25rem;
    width: 270px;
    place-items: center;
    border-radius: 12px;
    margin: 10px 15px;
}

.item p{
    padding: 0 3rem;
    text-align: center;
}
.item button{
    color: #0e1118;
    background-color: #ffb3a6;
    border: none;
    font-weight: 400;
    font-family: 'Mitr', sans-serif;
    padding: .375rem 1.2rem;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.item button img{
    color: #fff;
    margin-right: 5px;
}

