@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

.btnmini-search{
    background: url("search.png") no-repeat;
    background-size: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
}

.btnmini-search:hover{
    background: url("searchpink.png") no-repeat;
    background-size: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
}

#searchminiBar {
  display: none;
  position: fixed;
  z-index: 1;
}

.text-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'Mitr', sans-serif;
  font-weight: 300;
  margin-left: 333px;
}

.text-link a{
  margin: 0 10px;
  color: #0e1118;
  text-decoration: none;
}

h3{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Mitr', sans-serif;
}

