@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

.text1{
    color: black;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    
}

.text2{
    color: #ff0000;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}


.text3{
    color: #666f78;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.text4{
    color: #666f78;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}



.text5{
    color: #666f78;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}


.text6{
    color: #ff0000;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.text7{
    color: #ff0000;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.text_1{
    color: black;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    
}

.text_2{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_3{
    font-size: 12px;
    font-family: 'Mitr', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0000008A;
    padding-left: 30%;
}

.text_4{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_5{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_6{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_7{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_8{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_9{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_10{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_11{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_12{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_13{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.text_14{
    font-size: 12px;
    font-family: 'Mitr', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0000008A;
    padding-left: 30%;
}

.text_15{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: black;
    padding-left: 30%;
}

.box{
    margin-left: 30%;
}

.how_to_pay{
    position: absolute;
    left: 30%;
}

.img{
    display: block;
    margin-left: 30%;
    margin-right: auto;
}

form {
    position: absolute;
    left: 30%;
}

.button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-1{
    color: black;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.text1_1{
    color: black;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.text1_2{
    color: black;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.text1_3{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #0000008A;
    text-align: center;
}

.textbox{
    margin-left: 38%;
}

.button1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text0_1{
    color: black;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.text2_1{
    color: black;
    font-size: 30px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.text2_2{
    color: #666f78;
    font-size: 24px;
    font-family: 'Mitr', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.text2_3{
    color: #666f78;
    font-size: 16px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}