@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@font-face{
    font-family: 'supermarketregular';
    src: url('font/supermarket-webfont.eot');
    src: url('font/supermarket-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/supermarket-webfont.woff') format('woff'),
         url('font/supermarket-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
}
div{
    display: block;
}
#topZone {
    padding-top: 0px;
    background-color: #fff;
}
.topbar-x1{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    list-style: none;
}
nav, section{
    display: block;
}
.block-t1{
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
.col-lg{
    -webkit-box-flex: 0;
    width: auto;
    max-width: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-nav {
    display: flex;
    padding-left: 0;
    list-style: none;
}
.mem-nav a {
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
    color: #999999;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;

}
.mem-nav #sprMem::before {
    padding: 0.4rem;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    color: #999999;
    content: '|';
}
.nav-link{
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a {
    background-color: transparent;
}
ul{
    margin-bottom: 0;
}
.col-lg-auto{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 400;
    text-align: left;
}
.navbar-text{
    line-height: 150%;
    vertical-align: middle;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.my-1{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}
.d-inline{
    display: inline-flex;
}
.middle{
    vertical-align: middle;
}
.text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-right{
    text-align: right;
}
p{
    font-family: supermarket;
    font-size: 16px;
}
.text-truncate p{
    line-height: 24px;
}
a.cart-nav{
    display: inline-block;
    margin-right: 15px;
}
.cartr-nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
}
path{
    fill: currentColor;
}
.puIconsCart{
    color: #999999;
    font-size: 22px;
}
.fa-layers svg.svg-inline--fa{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.fa-fw{
    text-align: center;
    width: 1.25em;
}
.fa-layers{
    display: inline-block;
    height: 1em;
    position: relative;
    vertical-align: -0.125em;
}
.social-widget{
    display: inline-block;
}
.social-widget a{
    font-size: 30px;
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
}
.svg-inline--fa.fa-w-16{
    width: 1em;
}
.colorFacebookBG{
    background: #4267b2;
    color: transparent;
    border-radius: 50%;
}
.colorFacebook{
    color: #fff;
}
.colorInstagramBG{
    background: radial-gradient(circle at 30% 107%,#fdf497 0, #fdf497 5%,
    #fd5949 45%,#d6249f 60%, #285AEB 90%);
    color: transparent;
    border-radius: 50%;
}
.colorInstagram{
    color: #fff;
}
.colorLine{
    color: #fff;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}



