@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

html, body{
    background-color: #fff;
    margin: 0;
    padding: 0;

}
.row {
    align-items: center;
    justify-content: space-between;

}

.navbar{
    display: flex;
    background-color: #fff;
    color: black;
}

.button_01 {
    background-color: #ffb3a6;
    font-size: 16px;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
    font-style: normal;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}